.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #fffdec;
}
.form {
  margin-top: 3%;
  width: 30%;
  background-color: white;
  padding: 40px;
  border-radius: 18px;
  border: 2px solid #398d49;
}
.loadingLayer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.468);
  display: flex;
  justify-content: center;
}
.box {
  margin-top: 10%;
  width: 120px;
  height: 120px;
  background-color: #fffdec;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
}
