.container {
  padding: 0;
  margin: 0;
}
.section_1,
.section_2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.section_1,
.section_3 {
  background-color: #fffdec;
  padding: 0;
}
.section_2 {
  background-color: #fffdec;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}
.img_2 {
  width: 60%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones */
  .section_1,
  .section_2 {
    flex-direction: column;
  }
  .img_2 {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  /* For tablets */
  .img_1,
  .img_4 {
    width: 70%;
  }
  .img_2,
  .img_3 {
    width: 50%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* For small laptops */
}
