.container {
  padding-top: 2%;
  background-color: #fffdec;
  padding-bottom: 3%;
}
.title {
  font-weight: 800;
  font-size: large;
  font-style: italic;
  margin-right: auto;
  color: #3c8c4a;
}
.socialMediaBtn {
  border: none;
  outline: none;
  background-color: transparent;
  color: #3c8c4a;
}
.itemContainer {
  margin-top: 8px;
}
