.container {
  padding-top: 3%;
  background-color: #ffc632;
  padding-bottom: 3%;
}
.title {
  font-weight: 800;
  font-size: large;
  font-style: italic;
  margin-right: auto;
}
.socialMediaBtn{
  border: none;
  outline: none;
  background-color: transparent;
}
