.container {
  background-color: #0e6371;
  min-height: 100vh;
}

.pageTitle {
  padding-top: 10px;
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
}

.majorContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.majorItem {
  background-color: #7cb69d;
  padding: 8px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  color: #fffdec;
  font-weight: 500;
  margin-right: 10px;
}

.reviewContainer {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 70%;
}
.reviewItem {
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.reviewToggleBtn {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  font-display: row;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 500;
  color: #55605a;
}
