.container {
  padding: 0;
  overflow-x: hidden;
  position: relative;
}
.background {
  width: 100%;
}
.contentContainer {
  position: absolute;
  top: 0;
  padding: 0;
}
.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
}
.title {
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 25px;
  border-radius: 30px;
  background: #edffdf;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.resultContainer {
  padding: 0;
  margin-top: 2%;
  justify-content: center;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resultCell {
  background-color: #c5ded8;
  padding: 35px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 70%;
}

.right {
  background-color: #c5ded8;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.suitableMajorsTitle {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.suitableMajorsTitle button {
  border-radius: 20px;
  background-color: #398d49;
  font-weight: 400;
  font-size: 16px;
}
.suitableMajorItemContainer {
  max-height: 60vh;
  overflow-y: scroll;
}
.suitableMajorItemContainer::-webkit-scrollbar {
  width: 10px;
}
.suitableMajorItemContainer::-webkit-scrollbar-track {
  background-color: transparent;
  margin-bottom: 15px;
}
.suitableMajorItemContainer::-webkit-scrollbar-thumb {
  background-color: #edffdf;
  border-radius: 10px;
}
.suitableMajorItem {
  background-color: #edffdf;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.suitableMajorItemName {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
.suitableMajorItemImg {
  border-radius: 15px;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones */
  .background {
    width: 200%;
  }
  .title {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
  }

  .resultCell {
    padding: 20px;
    font-size: 22px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  /* For tablets */
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* For small laptops */
}
